@charset "UTF-8";

body {
	font-family: 'Oswald', sans-serif;
	color: #666;
}

/*======= Scroll button =========*/
#scrollToTopBtn {
	display: none;
	position: fixed;
	bottom: 70px;
	right: 10px;
	z-index: 99;
}
#scrollToBotBtn {
	position: fixed;
	bottom: 20px;
	right: 10px;
	z-index: 99;
}

/*========= Top Menu =========*/
#headerMenu, #topNav {
	font-family: 'K2D', sans-serif;
}
#header {
	width: 100%;
    display: flex;
    align-items: stretch;
}
#logo {
	display: inline-block;
    margin: auto 60px;
    width: 15%;
}
#headerMenu {
	display: inline-block;
	margin: 20px 0px;
    font-size: 13px;
    width: 85%;
}
#headerMenu .nav-item {
	margin-right: 70px;
	text-align: center;
	width: 100%;
}
#headerMenu .nav-link {
	color: #000;
	font-size: 18px;
	font-weight: bold;
}
#headerMenu .nav-item img {
    display: inline-block;
    vertical-align: top;
    margin: 5px 5px 0px 0px;
	width: 20px;
}
#headerMenu .nav-item .nav-link {
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

#topNav {
	width: 100%;
    padding: 0px;
    font-size: 13px;
}
#topNav ul {
    height: 100%;
    display: flex;
    width: 100%;
}
#topNav .nav-link {
    background-color: transparent;
    color: #fff;
    font-weight: normal;
    height: 100%;
    padding: 15px 0;
}
#topNav .nav-item {
	background-color: #9b231c;
    transition: 0.5s;
    width: 100%;
    text-align: center;
}
#topNav .nav-item:hover {
	background-color: #50110e;
}
/*========== Content ===========*/
#contentView {
	width:75%;
	float: right;
	margin-bottom: 48px;
}
.bookCol {
	text-align: center;
	margin: 13px 32px;
	transition: 0.25s;
}
.bookCol:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bookImage {
	border: 1px;
	border-style: double;
	boder-color: darkgrey;
	height: 48px;
	padding: 2px;
	width: 48px;
}
.book-quantity {
	float: right;
}
.add-to-cart img {
	transition: 0.2s;
}
.add-to-cart:hover {
	text-decoration: none;
}
.add-to-cart:hover img {
	transform: scale(1.1, 1.1);
}

/*========== Cart ============*/
#cartContent {
	width: 70%;
	float: right;
	margin: 0px 30px;
}
.itemInfo {
	margin: 0px;
	display: inline-block;
}
.order {
	color: #F4B344;
}

/*=========== Category sidebar========*/
#categorySideBar {
	width: 20%;
	display: inline-block;
	float: left;
	margin-left: 4rem;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	padding: 0px;
}
.category-item {
	padding: 0px !important;
	transition: 0.2s;
}
.category-item a {
	color: #000;
	padding: 1rem !important;
}
.category-item:hover {
	background-color: #ececec;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.category-item-active a {
	background-color: #9b231c;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
}

/* =============== Login page =============== */
#loginContent {
	margin: 30px 18rem 30px 0;
	width: 50%;
	float: right;
}

/* =============== Bill page =============*/
.w-10 {
	width: 10%;
}
.w-30 {
	width: 30%;
}



